<%- include("../partials/header") %>

<div id="content" class="container">

    <%if(postsArray.length === 0 ){%>
    <div class="no_posts">
        <p> No posts</p>
    </div>
    <%} else {%>
        <% postsArray.forEach((post) => { const {id, date, text, imagePath, title, likecount} = post; %>
        <div class="card" style="width: 67rem; margin-top: 5rem;">
            <div class="card-header d-flex flex-row justify-content-between">
                <img class="post_icon" alt="Profile icon" src="images/login.png" style="width: 7%">
                <p><%- date.toLocaleDateString() %></p>
            </div>
            <% if(imagePath){ %>
                <div>
                    <img class="card-img-top" src="<%- imagePath %>"/>
                </div>
            <% } %>
            <div class="card-body">
                <h5 class="card-title">
                    <%- title %>
                </h5>
                <p class="card-text">
                    <%- text %>
                </p>
            </div>
            <box-icon type='solid' name='like'></box-icon>
            <div id="likeButton" class="d-flex flex-row align-center">
                <button id="likeButton<%- post.id%>" class="btn btn-info mr-3" style="width: 15%;" onclick= "incrementLike(<%- id %>,<%- likecount %>)"><i
                            class="fas fa-thumbs-up"></i></button>
                <p id = "likeText<%- post.id%>"><%- likecount %></p>
            </div>
            <a href="/posts/show/<%- id %>"><button class="btn btn-success" style="width: 15%;">View this post</button></a>
        </div>
        <% }) %>
    <%}%>

</div>
<script>
    const incrementLike = async (id,likecount) => {
        //use fetch to create request to proper path
        await fetch("/posts/increment/".concat(id), {
            method: "PUT"
        }).then(disableLike(id,likecount));
    }

    function disableLike(id,likecount){
        document.getElementById("likeButton" +id).disabled = true;
        document.getElementById("likeText" + id).innerText = likecount + 1;
    }

    const showPost = async (id) => {
        await fetch("/posts/show/".concat(id), {
            method: "GET"
        })
    }
        
</script>
<%- include("../partials/footer") %>
